@mixin main-font($main-font: 'Roboto', $color: rgba(255, 255, 255, 0.947), $f-wght: 100, $f-size:1.2rem) {
    font-family: $main-font;
    color: $color;
    font-size: $f-size;
    font-weight: $f-wght;
};